.home-image {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  font-size: x-large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  font-family:Arial, Helvetica, sans-serif
}
.get-started {
  font-size: large;
}
.testimonial-title{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}